{% extends '2018/base.html.twig' %}

{% block content %}
    <!-- banner start here-->
    <section class="banner banner-nine">
        <div class="banner-overlay">
            <div class="banner-nine-content">
                <p>JAVADAY Conference 2018</p>
                <h2>learning : networking : fun</h2>
                <ul>
                    <li><span class="flaticon-tool"></span>4-5 November, 2018</li>
                    <li><span class="flaticon-signs"></span>Convention and Exhibition center "Parkovy"</li>
                </ul>
                <a href="#about" class="default-button page-scroll">Reserve my seat</a>
            </div>
        </div>
        <!-- overlay -->
    </section>
    <!-- banner end here -->


    <!-- About start here -->
    <section id="about" class="about about-seven padding-120">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="section-header">
                        <h2>java day 2018</h2>
                        <p><em>JavaDay Ukraine is an annual conference focused on new features of the Java language</em>
                        </p>
                    </div>
                    <p>JavaDay Ukraine is an annual international 2-day conference with more than 60 global speakers -
                        well-known Java-professionals from the US, Canada, Western Europe and other countries.The
                        conference agenda will include multiple cutting-edge technologies and trends, such as Full-stack
                        Java, JVM Languages, Machine Learning and Data Science.</p>
                    <ul class="about-button">
                        <li><a href="#" class="default-button">read more</a></li>
                        <li><a href="#" class="default-button">buy ticket</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <ul id="countdown" class="countdown">
                        <h2>EVENT WILL START IN</h2>
                        <li class="clock-item"><span class="count-number days">00</span>
                            <p class="days_text count-text">Days</p>
                        </li>

                        <li class="clock-item"><span class="count-number hours">00</span>
                            <p class="hours_text count-text">Hours</p>
                        </li>

                        <li class="clock-item"><span class="count-number minutes">00</span>
                            <p class="minutes_text count-text">Min</p>
                        </li>

                        <li class="clock-item"><span class="count-number seconds">00</span>
                            <p class="seconds_text count-text">Sec</p>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- row -->

        </div>
        <!-- container -->
    </section>
    <!-- About end here -->


    <!-- Speakers start here -->
    <section id="speaker" class="speakers speakers-seven padding-120">
        <div class="container">
            <div class="section-header text-center">
                <h3>OUR SPEAKERS</h3>
                <p><em>Quickly harness dynamic thinking through value added models.</em></p>
            </div>
            <div class="speaker-items">
                <div class="row">
                    {% for speaker in event.speakersPreview %}
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="speaker-item">
                                <div class="speaker-image">
                                    <img style="mix-blend-mode: multiply; " src="/images/speakers/{{ speaker.photo }}"
                                         alt="speaker image" class="img-responsive">
                                    <div class="speaker-overlay">
                                        <ul class="speaker-social">
                                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                            </li>
                                            <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <!-- speaker-image -->
                                <div class="speaker-content">
                                    <h4><a href="speaker-details.html"
                                           tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/speaker-details.html">{{ speaker.name }}</a>
                                    </h4>
                                    <span>{{ speaker.role[:20] ~ '' }}</span>
                                    <span>{{ speaker.company[:30] ~ '' }}</span>
                                </div>
                                <!-- speaker-content -->
                            </div>
                            <!-- speaker-item -->
                        </div>
                    {% endfor %}
                </div>
                <!-- row -->

            </div>
            <!-- speaker-items -->
        </div>
        <!-- container -->
    </section>
    <!-- Speakers end here -->


    <!-- Schedules start here -->
    <section id="schedule" class="schedules schedules-seven padding-120">
        <div class="container">
            <div class="section-header text-center">
                <h3>Event Schedules</h3>
                <p><em>Quickly harness dynamic thinking through value added models.</em></p>
            </div>

            <div class="schedule-tabs">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    {% for day in event.days %}
                        <li role="presentation" {% if (loop.index == 1) %}class="active"{% endif %}><a href="#day{{ day.id }}" aria-controls="day{{ day.id }}" role="tab"
                                                                                                       data-toggle="tab">
                                {{ day.name }}
                                <span>{{ day.startedAt.format('j F Y') }}</span>
                            </a></li>
                    {% endfor %}
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    {% for day in event.days %}
                        <div role="tabpanel" class="tab-pane {% if (loop.index == 1) %}active{% endif %}" id="day{{ day.id }}">
                            <div class="schedule-table table-responsive">
                                <table>
                                    <thead>
                                    <tr>
                                        <th class="time">Time</th>
                                        <th style="width: 36% !important;" class="session">Session</th>
                                        <th class="spekers">Spekers</th>
                                        <th class="venue">Venue</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for activity in day.activities %}
                                        <tr {%  if activity.type.id == 4 %}style="background-color: rgba(77,229,245,0.12)"{% endif %} {%  if activity.type.id == 3 %}style="background-color: #f5b4291f"{% endif %} {%  if activity.type.id == 1 %}style="background-color: #96f5291f"{% endif %}>
                                            <td class="time"><span><i class="fa fa-clock-o" aria-hidden="true"></i></span>{{ activity.startedAt.format('H:i') }}-{{ activity.endedAt.format('H:i') }}
                                            </td>
                                            <td class="session"><span><i class="fa fa-list-alt" aria-hidden="true"></i></span>{{ activity.name }}</td>
                                            <td class="spekers">
                                                {% if activity.hasSpeaker() %}
                                                    <span><img style="mix-blend-mode: multiply; float: left; width: 45px; height: auto" src="/images/speakers/{{ activity.speaker.photo }}"
                                                               alt="speaker image" class="img-responsive"></span><span style="line-height: 45px">{{ activity.speaker }}</span>
                                                {% endif %}
                                            </td>
                                            <td class="venue"><span><i class="fa fa-home" aria-hidden="true"></i></span>{{ activity.room }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- schedule-table -->
                            <a href="#" class="schedule-button default-button">download schedule <span><i
                                            class="fa fa-download" aria-hidden="true"></i></span></a>

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- container -->
    </section>
    <!-- schedules -->
    <!-- Schedules end here -->


    <!-- Pricing start here -->
    <section id="pricing" class="pricing pricing-six pricing-seven padding-120">
        <div class="container">
            <div class="section-header text-center">
                <h3>Pricing Table</h3>
                <p><em>Quickly harness dynamic thinking through value added models.</em></p>
            </div>
            <div class="pricing-items">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="pricing-item first">
                            <div class="pricing-header">
                                <h3 class="name">Basic</h3>
                                <h2 class="amount"><sup>$</sup>100</h2>
                            </div>
                            <!-- pricing-header -->
                            <div class="pricing-options">
                                <p><span><i class="fa fa-check" aria-hidden="true"></i></span>Conference Tickets</p>
                                <p><span><i class="fa fa-check" aria-hidden="true"></i></span>Free Lunch And Coffee</p>
                                <p><span><i class="fa fa-check" aria-hidden="true"></i></span>Easy Access</p>
                                <p><span class="off"><i class="fa fa-times" aria-hidden="true"></i></span>Certificate
                                </p>
                                <p><span class="off"><i class="fa fa-times" aria-hidden="true"></i></span>Printed
                                    Metarials</p>
                                <p><span class="off"><i class="fa fa-times" aria-hidden="true"></i></span>More Options
                                </p>
                            </div>
                            <!-- pricing-options -->

                            <div class="pricing-button">
                                <a href="#">ticket now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="pricing-item second">
                            <div class="pricing-header">
                                <h3 class="name">Silver</h3>
                                <h2 class="amount"><sup>$</sup>200</h2>
                            </div>
                            <!-- pricing-header -->
                            <div class="pricing-options">
                                <p><span><i class="fa fa-check" aria-hidden="true"></i></span>Conference Tickets</p>
                                <p><span><i class="fa fa-check" aria-hidden="true"></i></span>Free Lunch And Coffee</p>
                                <p><span><i class="fa fa-check" aria-hidden="true"></i></span>Easy Access</p>
                                <p><span><i class="fa fa-check" aria-hidden="true"></i></span>Certificate</p>
                                <p><span class="off"><i class="fa fa-times" aria-hidden="true"></i></span>Printed
                                    Metarials</p>
                                <p><span class="off"><i class="fa fa-times" aria-hidden="true"></i></span>More Options
                                </p>
                            </div>
                            <!-- pricing-options -->

                            <div class="pricing-button">
                                <a href="#">ticket now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="pricing-item third">
                            <div class="pricing-header">
                                <h3 class="name">gold</h3>
                                <h2 class="amount"><sup>$</sup>250</h2>
                            </div>
                            <!-- pricing-header -->
                            <div class="pricing-options">
                                <p><span><i class="fa fa-check" aria-hidden="true"></i></span>Conference Tickets</p>
                                <p><span><i class="fa fa-check" aria-hidden="true"></i></span>Free Lunch And Coffee</p>
                                <p><span><i class="fa fa-check" aria-hidden="true"></i></span>Easy Access</p>
                                <p><span><i class="fa fa-check" aria-hidden="true"></i></span>Certificate</p>
                                <p><span><i class="fa fa-check" aria-hidden="true"></i></span>Printed Metarials</p>
                                <p><span><i class="fa fa-check" aria-hidden="true"></i></span>More Options</p>
                            </div>
                            <!-- pricing-options -->

                            <div class="pricing-button">
                                <a href="#">ticket now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row -->
            </div>
            <!-- pricing items -->

        </div>
        <!-- container -->
    </section>
    <!-- pricing -->
    <!-- Pricing end here -->


    <!-- Sponsor start here -->
    <section id="sponsors" class="sponsor sponsor-seven padding-120">
        <div class="container">
            <div class="section-header text-center">
                <h3>Event Sponsors</h3>
                <p><em>Quickly harness dynamic thinking through value added models.</em></p>
            </div>

            {% for item in event.sponsorsByType %}
                <div class="sponsor-item">
                    <h5>{{ item['type'].name }}</h5>
                    <div class="row">
                        <ul class="list-inline">
                            {% for sponsor in item['sponsors'] %}
                                <li style="padding: 25px"><a  href="http://www.computerrex.com/" target="_blank">
                                        <img style="mix-blend-mode: multiply; height:100px; width:auto" src="/images/sponsors/{{ sponsor.image }}" alt="http://www.computerrex.com/"></a></li>

                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
            <!-- sponsor-item -->
            <a href="#" class="sponsor-button default-button">become a sponsors</a>
        </div>
        <!-- container -->
    </section>
    <!-- sponsor -->
    <!-- Sponsor end here -->


    <!-- services start here -->
    <section class="services padding-120">
        <div class="container">
            <div class="section-header text-center">
                <h3>WHAT TO EXPECT</h3>
                <p><em>Quickly harness dynamic thinking through value added models.</em></p>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <img src="images/services/service_01.png"
                             tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/images/services/service_01.png"
                             alt="service image" class="img-responsive">
                        <h4>Get your tshirt</h4>
                        <p>Monotonectally brand vertical emarkets Progressively maintain transparent missioncritical
                            eservices</p>
                    </div>
                    <!-- service-item -->
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <img src="images/services/service_02.png"
                             tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/images/services/service_02.png"
                             alt="service image" class="img-responsive">
                        <h4>Get your tshirt</h4>
                        <p>Monotonectally brand vertical emarkets Progressively maintain transparent missioncritical
                            eservices</p>
                    </div>
                    <!-- service-item -->
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <img src="images/services/service_03.png"
                             tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/images/services/service_03.png"
                             alt="service image" class="img-responsive">
                        <h4>Get your tshirt</h4>
                        <p>Monotonectally brand vertical emarkets Progressively maintain transparent missioncritical
                            eservices</p>
                    </div>
                    <!-- service-item -->
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <img src="images/services/service_04.png"
                             tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/images/services/service_04.png"
                             alt="service image" class="img-responsive">
                        <h4>Get your tshirt</h4>
                        <p>Monotonectally brand vertical emarkets Progressively maintain transparent missioncritical
                            eservices</p>
                    </div>
                    <!-- service-item -->
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <img src="images/services/service_05.png"
                             tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/images/services/service_05.png"
                             alt="service image" class="img-responsive">
                        <h4>Get your tshirt</h4>
                        <p>Monotonectally brand vertical emarkets Progressively maintain transparent missioncritical
                            eservices</p>
                    </div>
                    <!-- service-item -->
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <img src="images/services/service_06.png"
                             tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/images/services/service_06.png"
                             alt="service image" class="img-responsive">
                        <h4>Get your tshirt</h4>
                        <p>Monotonectally brand vertical emarkets Progressively maintain transparent missioncritical
                            eservices</p>
                    </div>
                    <!-- service-item -->
                </div>

            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>
    <!-- services -->
    <!-- services end here -->


    <!-- Gallery start here -->
    <section class="gallery gallery-seven padding-120">
        <div class="container">
            <div class="section-header text-center">
                <h3>Event gallery</h3>
                <p><em>Quickly harness dynamic thinking through value added models.</em></p>
            </div>

            <div class="row">
                {% for photo in event.photos %}
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="gallery-item">
                            <img src="/images/photos/{{ photo.image }}"
                                 alt="gallery image" class="img-responsive">
                            <div class="overlay"></div>
                            <a href="/images/photos/{{ photo.image }}"
                               tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/images/gallery/gallery_01.jpg"
                               data-rel="lightcase:myCollection">
                                <img src="images/gallery/gallery-icon.png"
                                     tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/images/gallery/gallery-icon.png"
                                     alt="gallery icon" class="img-responsive">
                            </a>
                        </div>
                        <!-- gallery-item -->
                    </div>
                {% endfor %}
            </div>
            <!-- row -->
            <a href="#" class="gallery-button default-button">lord more photos</a>
        </div>
        <!-- container -->
    </section>
    <!-- gallery -->
    <!-- Gallery end here -->


    <!-- Travel start here -->
    <section id="venue" class="travel travel-six travel-seven padding-120">
        <div class="container">
            <div class="section-header text-center">
                <h3>Travel Information</h3>
                <p><em>Quickly harness dynamic thinking through value added models.</em></p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="travel-information">
                        <div class="info-item first">
                            <div class="icon flaticon-signs-1"></div>
                            <div class="details">
                                <h4>event Venue</h4>
                                <p>Proactively syntesize global leadership ertical aprocesse Efficiently procrastinat
                                    bandwidth via enterprise an wide Appropriately benchmark awesome theme. </p>
                            </div>
                        </div>
                        <!-- info-item -->
                        <div class="info-item second">
                            <div class="icon flaticon-transport"></div>
                            <div class="details">
                                <h4>Transport</h4>
                                <p>Proactively syntesize global leadership ertical aprocesse Efficiently procrastinat
                                    bandwidth via enterprise an wide Appropriately benchmark awesome theme. </p>
                            </div>
                        </div>
                        <!-- info-item -->
                        <div class="info-item third">
                            <div class="icon flaticon-restaurant"></div>
                            <div class="details">
                                <h4>Hotel & Restaurant</h4>
                                <p>Proactively syntesize global leadership ertical aprocesse Efficiently procrastinat
                                    bandwidth via enterprise an wide Appropriately benchmark awesome theme. </p>
                            </div>
                        </div>
                        <!-- info-item -->
                    </div>
                    <!-- travel-information -->
                </div>
                <div class="col-md-6">
                    <div id="map_canvas" class="travel-map"></div>
                    <!-- travel-map -->
                </div>
            </div>
        </div>
        <!-- container -->
    </section>
    <!-- travel -->
    <!-- Travel end here -->


    <!-- Blog start here -->
    <section class="home-blog home-blog-seven padding-120">
        <div class="container">
            <div class="section-header text-center">
                <h3>From Our Blog</h3>
                <p><em>Quickly harness dynamic thinking through value added models.</em></p>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="blog-item">
                        <div class="image">
                            <a href="single.html"
                               tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/single.html"><img
                                        src="/images/photos/{{ event.photos[14].image }}"
                                        tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/images/blog/home_blog_01.jpg"
                                        alt="Blog image" class="img-responsive"></a>
                        </div>
                        <!-- image -->
                        <div class="content">
                            <h4><a href="single.html"
                                   tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/single.html">actualze
                                    cententrc staled</a></h4>
                            <p>Completely actuaze cent centric coloration an sharing without ainstalled and base awesome
                                event PSD Template.</p>
                        </div>
                        <!-- content -->
                        <ul class="post-meta">
                            <li><span class="icon flaticon-tool"></span><a href="#">22.04.2017</a></li>
                            <li><span class="icon flaticon-like"></span><a href="#">12 Like</a></li>
                            <li><span class="icon flaticon-chat"></span><a href="#">24 Comment</a></li>
                        </ul>
                        <!-- post-meta -->
                    </div>
                    <!-- blog item -->
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="blog-item">
                        <div class="image">
                            <a href="single.html"
                               tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/single.html"><img
                                        src="/images/photos/{{ event.photos[7].image }}"
                                        tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/images/blog/home_blog_02.jpg"
                                        alt="Blog image" class="img-responsive"></a>
                        </div>
                        <!-- image -->
                        <div class="content">
                            <h4><a href="single.html"
                                   tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/single.html">actualze
                                    cententrc staled</a></h4>
                            <p>Completely actuaze cent centric coloration an sharing without ainstalled and base awesome
                                event PSD Template.</p>
                        </div>
                        <!-- content -->
                        <ul class="post-meta">
                            <li><span class="icon flaticon-tool"></span><a href="#">22.04.2017</a></li>
                            <li><span class="icon flaticon-like"></span><a href="#">12 Like</a></li>
                            <li><span class="icon flaticon-chat"></span><a href="#">24 Comment</a></li>
                        </ul>
                        <!-- post-meta -->
                    </div>
                    <!-- blog item -->
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="blog-item">
                        <div class="image">
                            <a href="single.html"
                               tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/single.html"><img
                                        src="/images/photos/{{ event.photos[0].image }}"
                                        tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/images/blog/home_blog_03.jpg"
                                        alt="Blog image" class="img-responsive"></a>
                        </div>
                        <!-- image -->
                        <div class="content">
                            <h4><a href="single.html"
                                   tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/single.html">actualze
                                    cententrc staled</a></h4>
                            <p>Completely actuaze cent centric coloration an sharing without ainstalled and base awesome
                                event PSD Template.</p>
                        </div>
                        <!-- content -->
                        <ul class="post-meta">
                            <li><span class="icon flaticon-tool"></span><a href="#">22.04.2017</a></li>
                            <li><span class="icon flaticon-like"></span><a href="#">12 Like</a></li>
                            <li><span class="icon flaticon-chat"></span><a href="#">24 Comment</a></li>
                        </ul>
                        <!-- post-meta -->
                    </div>
                    <!-- blog item -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>
    <!-- home-blog -->
    <!-- Blog end here -->


    <!-- Map start here -->
    <section id="map" class="home-map">
        <div id="home-map" class="map"></div>
    </section>
    <!-- Map end here -->


    <!-- Newsletter Start here -->
    <section id="contact" class="newsletter newsletter-six">
        <div class="container">
            <p>Join Our Newsletter</p>
            <form action="http://demos.codexcoder.com/">
                <input type="email" name="email" placeholder="Enter your e-mail here">
                <input type="submit" name="submit" value="Subscribe now">
            </form>
        </div>
        <!-- container -->
    </section>
    <!-- Newsletter End here -->
{% endblock %}